* {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
	background-color: #E0FFFF;
}

div#box {
	text-align: left;
	padding-top: 1cm;
	max-width: 16.5cm;
	margin: 0 auto;
}

div#header {
	width: 100%;
	text-align: center;
}

/*
#F1ECA6
#A6F1C6
#A6ABF1
#F1A6D0
*/
textarea#repl {
	width: 92%;
	height: 3cm;
}

a#license-info {
	font-size: 9pt;
}


button {
	height: .8cm;
}


input {
	width: 10cm;
	height: .8cm;
	border-radius: .1cm;
	font-size: 12pt;
}


a.subtle {
	text-decoration: none;
}

a.subtle:hover {
	color: red;
}


pre {
	padding-left: .7cm;
	padding-top: .2cm;
	padding-bottom: .2cm;
	background-color: white;
}


code {
	border-radius: .25cm;
	background-color: white;
	padding-left: .1cm;
	padding-right: .1cm;
	white-space: nowrap;
}


span.pointer {
	position: absolute;
	left: 2cm;
	z-index: -23;
}

p {
	background-color: #E0FFFF;
}